/* @import url('https://fonts.google.com/specimen/Roboto'); */

:root {
  --primary-color: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
  --paragraph-font: 16px;

}
body {
    font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--dark-slate-grey);



}

.container {
    /*center the container with flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

  }

.box {
      display: flex;
      background-color: white;
      width: 730px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
}

.left-side {
width: 50%;
margin-right: 25px;
margin-top: 50px;
}

.left-heading{
    text-align: center;
    letter-spacing: 2px;
    padding-bottom: 5px;

}
.left-side p{
    margin-left: 60px;
}

ul{
    margin-left: 20px;
}
li{
    list-style-type: none;
    font-size: 13px;
}
img{
    margin-right: 12px;
    margin-top: 6px;
    width: 15px;


}


.right-side{
    width: 45%;
    height: 450px;
    background-image: url(./assets/images/illustration-sign-up-desktop.svg);
    background-position: center;
    background-size: cover;
    padding-left: 10px;
    margin: 20px 20px 20px 0px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.form-group{
    margin-left: 60px;
    padding-top: 15px;
}

.email-label{
    font-weight: 700;
    color: var(--dark-slate-grey);
    margin-bottom: 10px;
}

input{
    width: 90%;
    height: 40px;
    margin-top: 10px;
    
}
button{
    margin-top: 15px;
    width: 93%;
    height: 45px;
    background-color: var(--dark-slate-grey);
    color: var(--white);
}

button:hover{
    cursor: pointer;
    background-color: var(--primary-color);
}


#error{
    color: red;
    font-weight: 700;
    float: right;
    font-size: 12px;
    margin-right: 13px;
}

.hide-me{
    display: none;

}

.thanks-flex{
        color: var(--dark-slate-grey);

    display: flex;
    background-color: white;
    width: 350px;
    height: 375px;
    border-radius: 20px;
    flex-direction: column;
}

.thanks-flex img{
    width: 40px;
    height: 40px;
    margin-left: 35px;
    margin-top: 30px;

}

.thanks-flex h1 {
    margin-left: 35px;
}
.thanks-flex p {
    margin-left: 35px;
    font-size: 13px;
}

.btn-dismiss{
    width: 80%;
    margin-left: 35px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.attribution { font-size: 14px; text-align: center; color: white; }
.attribution a { color: white; }

@media (max-width: 600px) {
    .box{
        flex-direction: column-reverse;

    }

    .right-side {

        width: 100%;
        height: 350px;
        margin: 0;
        padding: 0 0 15px 0;



}
.right-side img{
    background-size: 100%;

    background-repeat: no-repeat;
    border-radius: 0 0 15px 15px ;
    -webkit-border-radius: 0 0 15px 15px ;
    -moz-border-radius: 0 0 15px 15px ;
    -ms-border-radius: 0 0 15px 15px ;
    -o-border-radius: 0 0 15px 15px ;
}

.left-side{
    width: 85%;
    /* margin-top: 10px;
    margin-right: 10px; */
    margin: 0;
    padding: 0;
    text-align: justify;
}

button{
    margin-right: 50px;
    width: 300px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
input{
    margin-bottom: 5px;
    width: 100%;
}
.form-group{
    margin-right: 15px;
    margin-bottom: 55px;

}
.thanks-flex{
    height: 775px;
    width: 100%;
    align-items: center;
justify-content: center;


    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
}

.btn-dismiss{
    bottom: 40px;
    width: 85%;
    height: 50px;
    position: fixed;
}

/* .thanks-flex img{
    width: 40px;
    height: 40px;
    margin-left: 35px;
    margin-top: 30px;

}

.thanks-flex h1 {
    margin-left: 35px;
} */
.thanks-flex img {
margin-right: 300px;
margin-top: -127px;
width: 60px;
height: 60px;

}

.thanks-flex h1 {
    margin-left: 25px;
    font-size: 42px;
    font-weight: 700;
}

.thanks-flex p {
    font-size: 16px;
    line-height: 25px;
}




}